name: Continuous Delivery

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - '**'
env:
  repository: Fresa/OpenAPI.ParameterStyleParsers
  project_path: src/OpenAPI.ParameterStyleParsers
  project_name: OpenAPI.ParameterStyleParsers
  dotnet_version: 9.0.x
  
jobs:
  test:
    name: Build & Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        id: dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnet_version }}
      - name: Build
        run: dotnet build -c Release
      - name: Test
        run: dotnet test -c Release --no-build --verbosity normal
    outputs:
      dotnet_version: ${{ steps.dotnet.outputs.dotnet-version }}

  release:
    name: Create Release
    uses: Fresa/Library.Net.ContinuousDelivery/.github/workflows/release.yml@v0
    needs: test
    if: ${{ github.repository == env.repository && github.actor != 'dependabot[bot]' }}
    with:
      project_path: ${{ env.project_path }}
      project_name: ${{ env.project_name }}
      dotnet_version: ${{ env.dotnet_version }}
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
